doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title File New Problem

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 File, New, Problem
      section(data-bespoke-state="special")
        <iframe src="//giphy.com/embed/FIFOPyElLqXzq" width="500" height="333" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 Technology Choice
        h3 .Net? Really?

      section
        h2 Technology Choice
        h3 Alternatives
          ul.bullet
            li Node.js
            li PHP

      section
        h2 The Web Stack
        h3 Options
          ul.bullet
            li WebForms
                
      section
        <iframe src="//giphy.com/embed/tMyCJmeXHBetq" width="500" height="372" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      
      section
        h2 The Web Stack
        h3 Options
          ul.bullet
            li MVC
            li Nancy FX
            li Simple.Web
            li ServiceStack

      section
        h2 Dependency Management
        h3 Manage Front End Dependencies
        ul.bullet
          li NuGet 
      
      section
        <iframe src="//giphy.com/embed/RSqvg0QCvJZGo" width="500" height="374" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      section
        h2 Dependency Management
        h3 Manage Front End Dependencies
        ul.bullet
          li NPM
          li Bower
          li <a href="http://duojs.org/"> Duo </a>

      section
        h2 CSS Preprocessor
        h3 Options
        ul.bullet
          li LESS
          li SASS
          li SASS with Compass
          li Stylus
          li Roll your own with rework
      section
        h2 CSS Methodologies
        h3 Options
        ul.bullet
          li <a href="https://github.com/stubbornella/oocss/wiki"> OOCSS </a>
          li <a href="http://foundation.zurb.com/"> Foundation </a>
          li <a href="http://www.getskeleton.com/"> Skeleton </a>
          li <a href="http://purecss.io"> Pure </a>  
      section
        h2 CSS Frameworks
        h3 Options
        ul.bullet
          li Bootstrap
          li <a href="http://foundation.zurb.com/"> Foundation </a>
          li <a href="http://www.getskeleton.com/"> Skeleton </a>
          li <a href="http://purecss.io"> Pure </a>
      section
        h2 If you must Bootstrap
        p <a href="http://bootswatch.com/"> Use Bootswatch </a>

      section
        h2 Do you need a full CSS Framework?
        p Determine your needs
      
      section
        h2 JavaScript or?
        h3 Options
        ul.bullet
          li Coffeescript
          li ClojureScript 
          li TypeScript
      
      section
        <iframe src="//giphy.com/embed/11RUijoqnc1yJW" width="500" height="395" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      section
        h2 Unit Testing
      
      section
        <iframe src="//giphy.com/embed/ZFjX21S1OLHZ6" width="500" height="280" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      
      section
        h2 MV-Whatever
        h3 Options 
      section
        h3 Backbone
        p Great for turning your jQuery soup to backbone stew
      section
        h3 Knockout
        p Cause everybody wants to write prose in their attributes
      section
        h3 Ember
        p Hope you write apps like the Ember team do
      section
        h3 Angular
        p Well since you asked...
      section
        h3 React
        p Proven at scale
      section
        h1 Q & A
      section
        h2 Thanks
        ul
          li <a href="http://kevinisom.info">Kevin Isom</a>
          li <a href="https://github.com/kevnz"> kevnz @ github </a>
          li <a href="https://twitter.com/kev_nz"> kev_nz @ twitter </a>
          li <a href="http://kevnz.github.io/file-new-problem/">kevnz.github.io/file-new-problem/</a>

    script(src='build/build.js')
